<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link rel="stylesheet" href="https://swiperjs.com/package/swiper-bundle.min.css" />
    <title>Digital Service</title>
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark fixed-top">
            <div class="container">
                <a class="navbar-brand a_color" href="#">Digital. Q</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample05"
                    aria-controls="navbarsExample05" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarsExample05">
                    <ul class="navbar-nav ml-auto mb-2 mb-lg-0">
                        <li class="nav-item p-3 active">
                            <a class="nav-link a_color" aria-current="page" href="#">Home</a>
                        </li>
                        <li class="nav-item p-3">
                            <a class="nav-link text-dark" href="#">About us</a>
                        </li>
                        <li class="nav-item p-3">
                            <a class="nav-link text-dark" href="#">Services</a>
                        </li>
                        <li class="nav-item p-3 text-dark">
                            <a class="nav-link text-dark" href="#">Case Studies</a>
                        </li>
                        <li class="nav-item p-3">
                            <button type="button" class="btn bg_primary text-white">
                                Sign up
                            </button>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>