{{> header}}
<section class="a_section">
    <div class="container">
        <div class="row">
            <div class="col-md-6 align-self-center">
                <h1>
                    Build up your <br />
                    Digital Marketing
                </h1>
                <p class="pt-3 pb-3">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos ad,
                    nesciunt doloremque autem nulla itaque debitis ipsa quisquam
                    veniam error laboriosam!
                </p>
                <button type="button" class="btn bg_primary text-white shadow-sm">
                    Learn More
                </button>
                <button type="button" class="btn shadow-sm ml-3 a_color">
                    <span class="fa fa-play"></span>&nbsp;&nbsp;Watch Video
                </button>
            </div>
            <div class="col-md-6 pt-4">
                <img src="/images/banner.png" class="img-fluid" alt="" />
            </div>
        </div>
    </div>
</section>
<section class="b_section">
    <div class="container">
        <div class="row text-center">
            <div class="col-md-3">
                <img src="/images/one.png" class="img-fluid" alt="" />
            </div>
            <div class="col-md-3">
                <img src="/images/three.png" class="img-fluid" alt="" />
            </div>
            <div class="col-md-3">
                <img src="/images/four.png" class="img-fluid" alt="" />
            </div>
            <div class="col-md-3">
                <img src="/images/five.png" class="img-fluid" alt="" />
            </div>
        </div>
    </div>
</section>
<section class="b_section">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <img src="/images/customer.jpg" class="img-fluid" alt="" />
            </div>
            <div class="col-md-6 align-self-center">
                <small class="a_color p-3">We care about</small>
                <h3 class="p-3">Our Customers</h3>
                <p class="pl-3">
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ut rem
                    doloribus adipisci. Deserunt quia fuga nobis minus temporibus. Sed
                    nemo fugit neque consectetur aspernatur voluptas, error accusamus
                    perspiciatis nesciunt esse?
                </p>
                <button type="button" class="btn bg_primary text-white ml-3">
                    Learn More
                </button>
            </div>
        </div>
    </div>
</section>
<section class="c_section">
    <div class="a_svg"></div>
    <div class="container">
        <div class="row space">
            <div class="col-md-3 bg-white shadow-sm mt-3">
                <div class="projects d-flex">
                    <div class="p-3">
                        <span class="fa fa-smile-o bg_primary text-white p-3 rounded"></span>
                    </div>
                    <div class="a_color p-3">
                        <h5 class="font-weight-bold">112+</h5>
                        <small>Happy Clients</small>
                    </div>
                </div>
            </div>
            <div class="col-md-3 bg-white shadow-sm mt-3">
                <div class="projects d-flex">
                    <div class="p-3">
                        <span class="fa fa-book bg_primary text-white p-3 rounded"></span>
                    </div>
                    <div class="a_color p-3">
                        <h5 class="font-weight-bold">160+</h5>
                        <small>Running Projects</small>
                    </div>
                </div>
            </div>
            <div class="col-md-3 bg-white shadow-sm mt-3">
                <div class="projects d-flex">
                    <div class="p-3">
                        <span class="fa fa-check-square bg_primary text-white p-3 rounded"></span>
                    </div>
                    <div class="a_color p-3">
                        <h5 class="font-weight-bold">230+</h5>
                        <small>Projects Completed</small>
                    </div>
                </div>
            </div>
        </div>

        <div class="row text-center pt-5">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <h4 class="font-weight-bold p-3">Your SEO score for FREE?</h4>
                <div class="mb-3 p-3">
                    <input type="email" class="form-control bg_secondary" id="exampleFormControlInput1"
                        placeholder="Type Your E-mail" />
                </div>
                <button type="button" class="btn bg_primary btn-lg text-white">
                    <small>Test Free</small>
                </button>
            </div>
            <div class="col-md-3"></div>
        </div>
    </div>
</section>
<section class="b_section">
    <div class="container">
        <div class="row">
            <div class="col-md-6 align-self-center p-5">
                <h3 class="p-3">Search Engine Optimization</h3>
                <p class="pl-3">
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ut rem
                    doloribus adipisci. Deserunt quia fuga nobis minus temporibus.
                </p>
                <button type="button" class="btn bg_primary text-white ml-3">
                    Learn More
                </button>
            </div>
            <div class="col-md-6">
                <img src="/images/customer.jpg" class="img-fluid" alt="" />
            </div>
        </div>
    </div>
</section>
<section class="b_section">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <img src="/images/customer.jpg" class="img-fluid" alt="" />
            </div>
            <div class="col-md-6 align-self-center p-5">
                <h3 class="p-3">Email Marketing</h3>
                <p class="pl-3">
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ut rem
                    doloribus adipisci. Deserunt quia fuga nobis minus temporibus.
                </p>
                <button type="button" class="btn bg_primary text-white ml-3">
                    Learn More
                </button>
            </div>
        </div>
    </div>
</section>
<section class="b_section">
    <div class="container">
        <div class="row">
            <div class="col-md-7">
                <div class="row">
                    <div class="col-md-6">
                        <div class="services">
                            <div class="icon bg_third p-3">
                                <span class="fa fa-database fa-lg a_color"></span>
                            </div>
                            <h5 class="mt-2 pb-2">Big Data Analysis</h5>
                            <p class="pb-2">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                            </p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="services mt-5">
                            <div class="icon bg_third p-3">
                                <span class="fa fa-star fa-lg a_color"></span>
                            </div>
                            <h5 class="mt-2 pb-2">Content Marketing</h5>
                            <p class="pb-2">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="services">
                            <div class="icon bg_third p-3">
                                <span class="fa fa-bar-chart fa-lg a_color"></span>
                            </div>
                            <h5 class="mt-2 pb-2">SEO Support</h5>
                            <p class="pb-2">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                            </p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="services mt-5">
                            <div class="icon bg_third p-3">
                                <span class="fa fa-bullhorn fa-lg a_color"></span>
                            </div>
                            <h5 class="mt-2 pb-2">SMO Support</h5>
                            <p class="pb-2">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-5 align-self-center p-5">
                <small class="a_color p-3">Our Services</small>
                <h3 class="p-3">Awesome Services</h3>
                <p class="pl-3">
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ut rem
                    doloribus adipisci. Deserunt quia fuga nobis minus temporibus.
                </p>
                <button type="button" class="btn bg_primary text-white ml-3">
                    Learn More
                </button>
            </div>
        </div>
    </div>
</section>
<section class="a_section">
    <div class="container">
        <div class="row">
            <div class="text-center">
                <small class="a_color p-3">Study Our Project Report</small>
                <h3 class="p-3">Our Case Studies</h3>
            </div>
            <div class="swiper-container">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-4 pb-2">
                                    <div class="case">
                                        <img src="images/customer.jpg" class="img-fluid" alt="" />
                                        <h5 class="p-2">Teamwork Design</h5>
                                        <small class="p-3">Lorem ipsum dolor sit, amet consectetur adipisicing
                                            elit.</small>
                                    </div>
                                </div>
                                <div class="col-md-4 pb-2">
                                    <div class="case">
                                        <img src="images/customer.jpg" class="img-fluid" alt="" />
                                        <h5 class="p-2">App Development</h5>
                                        <small class="p-3">Lorem ipsum dolor sit, amet consectetur adipisicing
                                            elit.</small>
                                    </div>
                                </div>
                                <div class="col-md-4 pb-2">
                                    <div class="case">
                                        <img src="images/customer.jpg" class="img-fluid" alt="" />
                                        <h5 class="p-2">Time Management</h5>
                                        <small class="p-3">Lorem ipsum dolor sit, amet consectetur adipisicing
                                            elit.</small>
                                    </div>
                                </div>
                                <div class="col-md-4"></div>
                                <div class="col-md-4"></div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-4 pb-2">
                                    <div class="case">
                                        <img src="images/customer.jpg" class="img-fluid" alt="" />
                                        <h5 class="p-2">Teamwork Design</h5>
                                        <small class="p-3">Lorem ipsum dolor sit, amet consectetur adipisicing
                                            elit.</small>
                                    </div>
                                </div>
                                <div class="col-md-4 pb-2">
                                    <div class="case">
                                        <img src="images/customer.jpg" class="img-fluid" alt="" />
                                        <h5 class="p-2">App Development</h5>
                                        <small class="p-3">Lorem ipsum dolor sit, amet consectetur adipisicing
                                            elit.</small>
                                    </div>
                                </div>
                                <div class="col-md-4 pb-2">
                                    <div class="case">
                                        <img src="images/customer.jpg" class="img-fluid" alt="" />
                                        <h5 class="p-2">Time Management</h5>
                                        <small class="p-3">Lorem ipsum dolor sit, amet consectetur adipisicing
                                            elit.</small>
                                    </div>
                                </div>
                                <div class="col-md-4"></div>
                                <div class="col-md-4"></div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-4 pb-2">
                                    <div class="case">
                                        <img src="images/customer.jpg" class="img-fluid" alt="" />
                                        <h5 class="p-2">Teamwork Design</h5>
                                        <small class="p-3">Lorem ipsum dolor sit, amet consectetur adipisicing
                                            elit.</small>
                                    </div>
                                </div>
                                <div class="col-md-4 pb-2">
                                    <div class="case">
                                        <img src="images/customer.jpg" class="img-fluid" alt="" />
                                        <h5 class="p-2">App Development</h5>
                                        <small class="p-3">Lorem ipsum dolor sit, amet consectetur adipisicing
                                            elit.</small>
                                    </div>
                                </div>
                                <div class="col-md-4 pb-2">
                                    <div class="case">
                                        <img src="images/customer.jpg" class="img-fluid" alt="" />
                                        <h5 class="p-2">Time Management</h5>
                                        <small class="p-3">Lorem ipsum dolor sit, amet consectetur adipisicing
                                            elit.</small>
                                    </div>
                                </div>
                                <div class="col-md-4"></div>
                                <div class="col-md-4"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Add Pagination -->
                <div class="swiper-pagination"></div>
            </div>
        </div>
    </div>
</section>
<section class="b_section">
    <div class="container">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <div class="one_svg">
                    <svg viewBox="0 0 200 200" xmlns="http://www.w3.org/2000/svg">
                        <path fill="#F5EDFA"
                            d="M59.7,-47C70,-34.6,65.9,-10.3,58.7,10.2C51.5,30.7,41.1,47.2,27,52.8C12.8,58.4,-5.1,53,-25.5,45.9C-46,38.8,-69,29.9,-74.3,14.7C-79.6,-0.5,-67.1,-22,-51.8,-35.6C-36.4,-49.1,-18.2,-54.6,3.2,-57.2C24.7,-59.8,49.3,-59.4,59.7,-47Z"
                            transform="translate(100 100)" />
                    </svg>
                </div>
                <div class="newsletter text-center bg_primary text-white">
                    <h4>Join Our Monthly Newsletter</h4>
                    <div class="f_submit">
                        <div class="submit d-flex">
                            <input type="email" class="form-control bg_secondary" id="exampleFormControlInput2"
                                placeholder="Your email here" />
                            <button class="btn btn-lg bg_primary text-white">
                                <small>submit</small>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="two_svg">
                    <svg viewBox="0 0 200 200" xmlns="http://www.w3.org/2000/svg">
                        <path fill="#F5EDFA"
                            d="M59.7,-47C70,-34.6,65.9,-10.3,58.7,10.2C51.5,30.7,41.1,47.2,27,52.8C12.8,58.4,-5.1,53,-25.5,45.9C-46,38.8,-69,29.9,-74.3,14.7C-79.6,-0.5,-67.1,-22,-51.8,-35.6C-36.4,-49.1,-18.2,-54.6,3.2,-57.2C24.7,-59.8,49.3,-59.4,59.7,-47Z"
                            transform="translate(100 100)" />
                    </svg>
                </div>
            </div>
            <div class="col-md-2"></div>
        </div>
    </div>
</section>
{{> footer}}